{% extends 'base.html.twig' %}

{% block title %}S'inscricre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/new-form.css') }}" rel="stylesheet">

{% endblock %}

{% block header %}
    <div id="headerwrap" class="top">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown" style="color:black;">SNOWTRICKS</h1>
                    <p style="font-size: 20px;color: black">SITE COMMUNAUTAIRE POUR TOUT LES AMOUREUX DU SNOWBOARD</p>
                    <p style="color: white;">Par Jimmy Sweat</p>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->
{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    <div class="container">
        <div id="form-content" class="col-lg-8 col-md-8 col-xs-10 ">
            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-lg-12">{{ form_row(registrationForm.email) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-12">{{ form_row(registrationForm.name) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-12">{{ form_row(registrationForm.plainPassword) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-12">{{ form_row(registrationForm.agreeTerms) }}</div>
            </div>
            <button class="btn btn-info" type="submit" id="add-register">S'inscrire</button><br>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
