<div class="container">
    {% if images and videos %}
        <div class="row">
            {% for image in images %}
                <figure class="col-md-4">
                    <img src="{{ asset('uploads/images/' ~ image.name) }}" alt="{{ trick.name }} - image" width="300" height="200">
                </figure>
                {% include 'image/_delete_form.html.twig' %}
            {% endfor %}
            {% for video in videos %}
                <figure class="col-md-4">
                    {{ video.embed|raw }}
                </figure>
                {% include 'video/_delete_form.html.twig' %}
            {% endfor %}
        </div>
    {% endif %}
    <div id="form-content" class="col-lg-8 col-md-8 col-xs-10 ">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-12">{{ form_row(form.name) }}</div>
        </div>
        <div class="row">
            <div class="col-lg-12">{{ form_row(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-lg-12">{{ form_row(form.category) }}</div>
        </div>

        <h2>Videos</h2>
        <div class="video" id="video" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></div>

        <h2>Images</h2>
        <div class="image" id="image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></div>

        <button class="btn btn-success" type="submit" id="add-trick">{{ button_label|default('Editer le trick') }}</button><br>
        {{ form_end(form) }}
    </div>
</div>

