{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/new-form.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <h1>Editer un Trick</h1>

    {{ include('trick/_form_edit.html.twig')}}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="{{ asset('assets/js/mediasManagement.js') }}"></script>
    <script>
        $('#trick_images').remove();
    </script>
{% endblock %}