{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/new-form.css') }}" rel="stylesheet">

{% endblock %}

{% block header %}
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                {% block nav %}
                    {{ parent() }}
                {% endblock %}
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown" style="color:black;">{{ trick.name|upper }}</h1>
                    <em style="font-size: 30px;">{{ trick.category.name }}</em>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->
{% endblock %}

{% block body %}
    <h1>Editer un Trick</h1>

    {{ include('trick/_form_edit.html.twig')}}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="{{ asset('assets/js/mediasManagement.js') }}"></script>
    <script>
        $('#trick_images').remove();
    </script>
{% endblock %}