{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/new-form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Edit Trick</h1>

    {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="{{ asset('assets/js/mediasManagement.js') }}"></script>
{% endblock %}