{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Trick index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="body">
        {% for trick in tricks %}
            <tr>
                <td class="id">{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ trick.slug }}</td>
                <td>{{ trick.description }}</td>
                <td>
                    <a href="{{ path('trick_show', {'slug': trick.slug}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>

        {% endfor %}

        <button class="show_more">Voir plus</button>
        </tbody>
    </table>

    <a href="{{ path('trick_new') }}">Create new</a>


{% endblock %}

{% block javascripts %}
    <script>
        let last_id = $('.id').last().text();
        console.log(last_id);
        $(".show_more").click(function(){
                $.ajax({
                    url : '/show_more/' + last_id,
                    type: 'POST',
                    success : function(data) {

                        for(i = 0; i < data.length; i++) {
                            let trick = data[i];
                            $('.body').append('<tr><td class="id">' + trick['id'] + '</td>' +
                                '<td>' + trick['name'] + '</td></tr>')
                        }
                        last_id = $('.id').last().text();
                    },
                    error : function () {
                        alert('Une erreur');
                    }

                });

        });





    </script>
{% endblock %}
