{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <div id="scrollUp">
        <a href="#top"><img src="{{ asset('assets/img/to_top.png') }}"/></a>
    </div>

<div class="container">
    <div class="row mt centered ">
        <div class="col-lg-4 col-lg-offset-4">
            <h3>Les Derniers Tricks</h3>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt" class="tricks" id="tricks">
         {% for trick in tricks %}
        <div class="col-lg-4 col-md-4 col-xs-12 desc">
            <a class="b-link-fade b-animate-go" href="{{ path('trick_show', {'slug': trick.slug}) }}"><img width="350" src="{{ asset('assets/img/portfolio/port04.jpg') }}" alt="" />
                <div class="b-wrapper">
                    <h4 class="b-from-left b-animate b-delay03">{{ trick.name }}</h4>
                    <p class="b-from-right b-animate b-delay03">Voir Plus.</p>
                </div>
            </a>
            <p>{{ trick.name }}t</p>
            <hr>
            <div class="align">
                <div class="time"><i class="fa fa-comment-o"></i>
                    {{ trick.messages|length }} | <i class="fa fa-calendar"></i>
                    {{ trick.updatedAt  ? trick.createdAt|date("d/m/Y") : trick.createdAt|date("d/m/Y") }}
                </div>
                {% if app.user %}
                <div class="form-delete" style="padding-bottom: 10px">
                    {% include('trick/_delete_form.html.twig') %}
                </div>
                {% endif %}
            </div>
            <div class="id" style="display: none">{{ trick.id }}</div>
        </div>
        {% endfor %}

        <div class="row mt" id="new_tricks">
        </div>
        <!-- col-lg-4 -->
        <div class="row centered" id="button_show_more">
            <button id="show_more" class="btn btn-cta btn-lg" style="border-color: black; color: black ">Voir plus</button>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let last_id = $('.id').last().text();
            console.log(last_id);
            $(document).on('click', '#show_more', function(){
                $.ajax({
                    url : 'trick/show_more/' + last_id,
                    type: 'GET',
                    success : function(data) {
                        $('#new_tricks').append(data)
                        $("#button_show_more").remove()

                        last_id = $('.id').last().text();
                    },
                    error : function (error) {
                        alert(error);
                    },


                });

            });


            $(window).scroll(function () { //Fonction appelée quand on descend la page
                if ($(this).scrollTop() > 200 ) {  // Quand on est à 200pixels du haut de page,
                    $('#scrollUp').css('right','10px'); // Replace à 10pixels de la droite l'image
                } else {
                    $('#scrollUp').removeAttr('style'); // Enlève les attributs CSS affectés par javascript
                }
            });


            $('a[href*="#"]').on('click', function() {
                const page = $(this).attr('href');
                const speed = 750;
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
                return false;
            });
        })








    </script>
{% endblock %}
