{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/article.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown" style="color:black;">{{ trick.name|upper }}</h1>
                    <em style="font-size: 30px;">{{ trick.category.name }}</em>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->

{% endblock %}

{% block body %}
    <article>
        {% if app.user %}
            <div class="form-delete" style="font-size: 25px; width: 50%; float: right; margin: 0 auto;">
                {% include('trick/_delete_form.html.twig') %}
            </div>
        {% endif %}

        <div class="container" id="medias">
                <div class="row">
                    {% for image in images %}
                        <div class="col-sm-4">
                            <img src="{{ asset('uploads/images/' ~ image.name) }}" alt="{{ trick.name }} - image" width="300" height="200">
                        </div>
                    {% endfor %}
                    {% for video in videos %}
                        <div class="col-sm-4">
                            {{ video.embed|raw }}
                        </div>
                    {% endfor %}
                </div>
        </div>

        <div class="container">
            <div class="row mt">
                <div class="align">
                    <div class="time">
                        <em>{{ trick.updatedAt  ? trick.createdAt|date("d/m/Y") : trick.createdAt|date("d/m/Y") }}</em>
                    </div>
                </div>
            </div>

        </div>
        {{ trick.description }}

    </article>

    <hr style="margin: 5% 25% 5% 25%; ">



    {% if app.user%}
        {% include('message/new.html.twig') %}
    {% else %}
        <div>
            <p style="text-align: center; font-size: 20px">Veuillez vous <a href="{{ path('app_login') }}">Connecter</a> ou vous <a href="{{ path('app_register') }}">inscrire</a> pour poster un message</p>
        </div>
    {% endif %}
    <hr style="margin: 1% 25% 1% 25%; ">

        {% for message in messages %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="author-bio media">
                            <div class="author-avatar media-left pull-left" id="avatar"><img class="img-circle" src="{{ asset('assets/img/to_top.png') }}" alt="Avatar"></div><!-- /.author-avatar -->
                            <div class="author-details media-body">
                                <h3 class="name">{{ message.user.name }}</h3>
                                <span>Posté le {{ message.createdAt|date('d/m/Y') }}</span>
                                <p>
                                    {{ message.content }}
                                </p>
                            </div><!-- /.author-details -->
                        </div><!-- /.author-bio -->
                    </div>
                </div>
            </div>
            <div class="id" style="display: none">{{ message.id }}</div>
        {% endfor %}
        <div id="new_messages">
        </div>
        {% if messages != null and messages|length == 4 %}
            <div class="row" id="button_show_more" style="width: 100px;">
                <button id="show_more" class="btn btn-cta btn-lg" style="border-color: black; color: black ">Voir plus de messages</button>
            </div>
        {% endif %}




{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let last_id = $('.id').last().text();
            console.log(last_id);
            $(document).on('click', '#show_more', function(){
                $.ajax({
                    url : 'message/show_more/' + last_id + '/' + {{ trick.id }},
                    type: 'GET',
                    success : function(data) {
                        $('#new_messages').append(data)
                        $("#show_more").remove()

                        last_id = $('.id').last().text();
                    },
                    error : function () {
                        $("#show_more").remove()
                    },


                });

            });
        })
    </script>
{% endblock %}

